<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <title>About this page</title>
    <style>
        .contenedor2 {
            display: flex;
            align-items: center; /* Centra verticalmente el párrafo y la imagen */
            gap: 15px; /* Espacio entre la imagen y el párrafo */
        }

        figure {
            margin: 0; /* Elimina márgenes predeterminados */
            max-width: 2000px; /* Limita el ancho de la figura */
        }

        img {
            /* width: 350px; /* Asegura que la imagen ocupe todo el ancho del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
        }

        figcaption {
            font-size: 0.9em; /* Tamaño del pie de foto */
            text-align: center; /* Centrar el texto del pie de foto */
            margin-top: 5px; /* Espacio entre la imagen y el pie de foto */
        }
        </style>
</head>

<body>

    <header>
        <h1>About this page</h1>
    </header>

    <main class="container">
        <div class="image-container">
            <a href="https://www.visitargranada.com/blog/la-tarasca/" target="_blank">
            <img src="static/Tarasca.jpeg" width="400">
            </a>
        </div>
    <h2>General questions</h2>
        <h3>What is this place?</h3>
    <p>
        In this webpage you can search information about <b>any</b> 2x2 state. In order to reduce the number of states, we take "equivalent"
        states as only one.
    </p>
    <h3>What are equivalent states?</h3>
    <p>
        Two states are said to be equivalents if they both can be solved with the same moves from some orientation. Most 
        states have 23 equivalent corresponding to the other 23 possible orientations, but there are also states with less than that due to
        symmetries. This notion of equivalence allowed us to reduce the number of states from 3674160 to 154608 unique states. 
    </p>
    <h3>How are the states classified?</h3>
    <p>
        These states were then classified into the main advanced methods for 2x2 speedsolving. For the states that are not a premade case of any 
        method, we counted the number of bars and diagonals in faces for each states. The exact procedure will be explained later in this page.
    </p>
    <h2>Questions about the search engine</h2>
    <h3>How does the search work?</h3>
    <p>
        The database queries are based on two inputs: which methods you want to include in your results and what methods you want to exclude.
        Choosing two or more methods simultaneously will give you states that are cases of all of them. For example, including CLL and EG2 will 
        result in states that have a CLL layer in one face and a EG2 layer in another one. On the other hand, exclusion works a bit differently, 
        so excluding CLL and EG2 will result in states that are neither CLL nor EG2.
    </p>
    <p>
        After searching for states you can click on the image of any state, which will open a new page with more info about the state. 
        In this page you can find a scramble along with all the optimal solutions for the state. Also, you can click in the buttons under 
        the image to rotate it along with the scramble and the solutions so you can find the best solution. 
    </p>
    <h3>The rotations in the details page change the cube state, why?</h3>
    <p>
        Rotations are made to work so the fixed corner always stays the same. The state after the rotation may look different, but 
        it will always be equivalent to the original.
    </p>
    <h3>What states are considered CBLs?</h3>
    <div class="contenedor2">
    <div>
        
    <p>
        About the CBL option, states that are (T)EG are not included 
        in the CBL list unless they have a CBL case in a different axis from the (T)EG layer. For example, the state with scramble 
        R' F U F' R F U' R F' U2 has a CLL in the UD axis, but also a CBL in the RL axis; so it counts both as a CLL and a CBL. 
    </p>
    </div>
    <figure>
        <img src="{{ url_for('static', filename='CBLexample.png') }}" width="200"/>
        <figcaption><i><b><font size="+0.5">Scramble: R' F U F' R F U' R F' U2</font></b></i></figcaption>
    </figure>
    </div>
    <h3>How do I count the bars and diagonals on a state?</h3>
    <p>
        There are three types of bars and two types of diagonals. A face has a bar in it if there are two, and only two, adjacent stickers with the 
        same color. A face has a diagonal if two opposite stickers have the same color. This means that (T)EG faces or LS faces doesn't have any bars
        nor diagonals in them.
    </p>
    <p>
        Once you have found a bar, you need to check the other adjacent stickers of both pieces. If they are also of the same color, you 
        have a Bar. If they are of adjacent colors, it is called an Adjacent bar (Adj Bar), while if they are of opposite colors it is called an
        Opposite bar (Opp Bar).
    </p>
    <p>
        Diagonals work simmilarly. Focusing in the other four stickers of the diagonal pieces, if the colors on opposite faces are opposite 
        colors, it is called a Diagonal (Diag), while if they aren't it is called an Adjacent diagonal (Adj Diag).
    </p>
    <p>
        After checking the six faces you will have the total bars and diagonals count for the state.
    </p>
    


    <h2>Questions about OO</h2>
    <h3>What is OO?</h3>
    <p>
        OO stands for Objectively Optimal. The aim of this method is to find the best solution for each 2x2 state regarding speedsolving.
        This solutions may not be move optimal, but they will be the fastest to execute.
    </p>
    <h3>How do you select the OO solution?</h3>
    <p>
        In each state page there is a form where anyone can submit a proposal for an OO solution. Then our team of 2x2 speedcubers 
        try them in order to check if they are good enough.
    </p>
    <h3>I want to help, what do I need to write in the <a href="https://www.youtube.com/watch?v=wBLGw7teR5c" target="_blank" style="text-decoration:none; color:#000000;" >OO</a> form?</h3>
    <p>
        In the form you can submit any solution you find for the state in question. Don't worry about the orientation of your cube, you just 
        need to write a solution that works from some orientation, the rest will be worked out by us.
    </p>
    <p>
        Write your solution separating the moves by spaces. You can put any move or rotation in it (remember, moves are capital letters 
        while rotations are lowercase). Even though we will check it later, the webpage can't assure the solution you gave us is correct, 
        so there won't be any warnings if your solution is wrong.
    </p>
    <h2>How can I support you?</h2>
    <p>
        If you find this website helpful and valuable, we encourage you to consider donating to help us maintain and
        enhance it. Your support enables us to continue offering quality content and covering the expenses of running
        the site. Every contribution makes a difference, and we sincerely appreciate your generosity!
    </p>
    <div id="donate-button-container">
        <div id="donate-button"></div>
        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
        <script>
            PayPal.Donation.Button({
            env:'production',
            hosted_button_id:'DN9SK7HZH9DUJ',
            image: {
            src:'https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif',
            alt:'Donate with PayPal button',
            title:'PayPal',
            }
            }).render('#donate-button');
        </script>
    </div>




    
    <a href="{{ url_for('index') }}" class="back-link">Return to main page</a>
    </main>
    
    <footer style="background-color: #f4f4f9; text-align: center; padding: 10px; margin-top: 20px; color: #666;">
        <p>Developed by <a href="https://www.worldcubeassociation.org/persons/2015SALO01" target="_blank">Álvaro Aguilar Salobreña</a> and <a href="https://www.worldcubeassociation.org/persons/2016GALA04" target="_blank">Andrés Rodríguez Galán</a></p>
    </footer>

</body>
</html>
